$ropeBaseDim: 30vw;
$shadeBaseDim: 20vw;
$lightbaseDim: 20vw;
$headerHeight: 75px;
$neutralGray: #898E8C;

@mixin sTransform($transformRule) {
  -moz-transform: $transformRule;
  -o-transform: $transformRule;
  -ms-transform: $transformRule;
  -webkit-transform: $transformRule;
  transform: $transformRule;
}

@mixin noTouching($boolTouch: none) {
  pointer-events: $boolTouch;
  -webkit-user-select: $boolTouch;
  -khtml-user-select: $boolTouch;
  -moz-user-select: $boolTouch;
  -ms-user-select: $boolTouch;
  user-select: $boolTouch;
}

#showPos {
  color: green;
  font-size: 2vw;
  z-index: 200;
}

body,
html {
  font-family: Ranga;
  overflow: hidden;
  &.openHeight {
    height: 16000px;
  }
}

#header {
  background-color: rgba(60, 60, 60, 1);
  height: 75px;
  position: fixed;
  top: -74.5px;
  opacity: 0;
  display: block;
  width: 100vw;
  z-index: 10;
  font-size: 200%;
  #selected {
    height: 3px;
    background-color: white;
    position: absolute;
    opacity: 0;
  }
  .navigators {
    visibility: hidden;
    position: absolute;
    right: 35px;
    li {
      a {
        font-decoration: none!important;
        color: $neutralGray;
        &:active {
          color: white;
        }
        &:hover {
          cursor: pointer;
        }
      }
      margin: 12px;
      list-style-type: none;
      float: left;
    }
  }
}

#intro {
  height: 100vh;
  display: block;
}

#animWrapper {
  position: fixed;
  width: 100vw;
  height: 100vw;
  top: 4vw;
  background: transparent;
  overflow: hidden;
}

#mainField {
  width: 100vw;
  height: 100vh;
  display: none;
  position: absolute;
  top: 100vh;
  background-color: black;
  overflow: hidden;
}

#lampTop {
  transform-origin: 50% -50%;
  position: absolute;
  top: -10%;
  right: 10%;
  width: 20vmax;
  height: 20vmax;
  @include noTouching();
}

#aboutText {
  position: absolute;
  top: calc(9% + 40px);
  left: calc(9% + 40px);
  margin: auto;
  width: 45vmax;
  height: 70vh;
  font-size: 2em;
  background-color: transparent;
  color: white;
  overflow: auto;
  transform-origin: 100% 100%;
}

.title {
  font-size: 2em;
  width: 20em;
  display: inline-block;
  height: 1.5em;
  text-align: center;
  border-color: black;
  border-style: solid;
  background-color: white;
  position: relative;
  z-index: 1;
  color: rgba(0, 0, 0, .7);
  box-sizing: border-box;
  @include sTransform(rotate(-45deg) translateX(-6em) translateY(calc(-6em + 75px)));
}

#hangWrapper {
  opacity: 0;
  height: 100vw;
  z-index: 4;
  transform-origin: 50% 0%;
  #ropeWrapper {
    position: absolute;
    top: 0;
    left: calc(50% - #{$ropeBaseDim}/2);
    width: $ropeBaseDim;
    height: $ropeBaseDim;
    #ropeSVG {
      line {
        stroke: white;
      }
      width: $ropeBaseDim;
      height: $ropeBaseDim;
    }
  }
  #shadeWrapper {
    position: absolute;
    left: 39.11%;
    top: 22.94%;
    width: $shadeBaseDim;
    height: $shadeBaseDim;
    z-index: 2;
    #shadeSVG {
      @include sTransform(rotate(180deg));
      width: $shadeBaseDim;
      height: $shadeBaseDim;
      path {
        fill: rgba(200, 200, 200, 1);
      }
    }
  }
  #shine {
    opacity: 0;
    border-radius: 10%;
    position: absolute;
    left: .05vw;
    top: calc(36vw + 4px);
    z-index: -1;
    width: 100vw;
    height: 30vw;
    border-top: 1vw solid transparent;
    border-bottom: 70vw solid white;
    border-left: 46vw solid transparent;
    border-right: 46vw solid transparent;
  }
}

#lampText {
  position: absolute;
  left: 0.52%;
  top: 34.25%;
  width: 100vw;
  height: 14vw;
  color: rgba(40, 40, 40, 1);
  font-size: 6.7vw;
  z-index: 10;
  display: none;
  text-align: center;
  @include noTouching();
}

#lightWrapper {
  position: absolute;
  left: 40.11%;
  top: 15.41%;
  height: $lightbaseDim;
  width: $lightbaseDim;
  svg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: $lightbaseDim;
    height: $lightbaseDim;
    z-index: -1;
    path {
      fill: white;
    }
  }
}

@media screen and (max-width: 775px) {
  #aboutText {
    top: 6em;
    width: 70vw;
    height: 50vh;
    font-size: 1.5em;
  }
  #lampTop {
    right: 0%;
  }
  .title {
    @include sTransform(initial);
    display: inilne;
    width: 30%;
    margin: auto;
  }
}

////////Shop page
$buttonColor: #4FAF7F;
#openShop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: white;
  text-align: center;
  line-height: 40px;
  outline: none;
  font-size: 1.2em;
  z-index: 2;
  top: 10px;
  position: absolute;
  right: 40px;
  &:hover {
    cursor: pointer!important;
  }
  &:active {
    transform: translateY(2px);
  }
}

#choiceArea {
  position: relative;
  z-index: 5;
  height: 100%;
}

#sortDiv {
  padding-right: 30px;
  text-align: right;
}


#shopContainer {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  margin: auto;
  height: 70vh;
  width: 80vw;
  background-color: #fafafa;
  padding: auto;
  padding-bottom: 10px;
  overflow: auto;
  text-align: center;
  .choice {
    box-shadow: 1px 1px 2px 1px;
    margin: 20px 50px;
    height: 250px;
    width: 250px;
    background-color: #2c3e50;
    position: relative;
    display: inline-block;
    text-align: center;
    .image {
      transition: height .25s;
      height: 80%;
      width: 100%;
      background-color: darken(white, 20%);
    }
    .description {
      display: block;
      width: 100%;
      position: absolute;
      left: 0;
      color: white;
      background-color: lighten(black, 5%);
    }
    .price {
      display: block;
      width: 50%;
      padding-left: 10px;
      text-align: left;
      position: absolute;
      color: white;
      left: 0;
      bottom: 0;
    }
    .stock {
      display: block;
      width: 50%;
      position: absolute;
      color: white;
      right: 0;
      bottom: 0;
      text-align: right;
      padding-right: 10px;
    }
    .addCart {
      font-family: inherit;
      font-size: 1.2em;
      position: absolute;
      display: block;
      opacity: 0;
      width: 150px;
      height: 30px;
      left: calc(50% - 75px);
      bottom: calc(25% - 15px);
      outline: none;
      border: none;
      border-radius: 10px;
      background-color: $buttonColor;
      transition: opacity .15s;
      overflow: hidden;
      color: black;
      &:hover {
        cursor: pointer!important;
      }
      &:active {
        transform: translateY(2px);
        background-color: lighten(#4F8F7F, 10%);
      }
    }
    &:hover,
    &:focus {
      .image {
        height: 50%;
      }
      .addCart {
        transition-delay: .15s;
        opacity: 1;
      }
    }
  }
}

$shopImgDim: 15vmax;
#shopSheet {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  .shopItem {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .shopImage {
    height: $shopImgDim;
    width: $shopImgDim;
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 10px;
    box-shadow: 1px 1px 2px 1px;
  }
  .removeItem {
    position: absolute;
    right: 3%;
    top: 1%;
    &:hover {
      cursor: pointer!important;
    }
  }
  .sWrapper {
    width: calc(100% - $shopImgDim);
    margin-left: calc(#{$shopImgDim} + 20px);
    position: relative;
    height: $shopImgDim;
    .shopDescription {
      font-size: 2.5em;
      text-align: left;
    }
    .shopPrice {
      font-family: arial!important;
      font-size: 1.5em;
      text-align: right;
      padding-right: 30px;
      input {
        font-size: .8em;
        text-align: right;
      }
    }
  }
  .checkout {
    margin: 20px 0;
    width: 150px;
    height: 50px;
  }
  .emptyMsg {
    display: none;
  }
  .totalWrapper {
    font-family: arial!important;
    text-align: right;
    margin-right: 20px;
    font-size: 1.5em;
  }
  .emptyMsg {
    margin-top: 20px;
    font-size: 2rem;
    .emptyBack {
      margin-top: 20px;
      padding: 15px;
    }
  }
  .checkoutPage {
    padding: 20px;
    display: none;
    font-size: 2rem;
    text-align: center;
    .checkoutBack {
      margin-top: 20px;
      padding: 15px;
    }
  }
}

.shopBtn {
  font-size: 1.5rem;
  font-family: arial;
  outline: none;
  background-color: $buttonColor;
  border: 2px solid green;
  border-radius: 20px;
  font-weight: bold;
  &:hover {
    cursor: pointer!important;
    filter: brightness(1.2);
  }
}

@media screen and (max-width: 500px) {

  #container {
    padding: 0!important;
  }
  .displayShop {
    font-size: 70%!important;
  }
  .checkoutPage {
    font-size: 100%!important;
  }
  .choice {
    margin-right: auto!important;
    margin-left: auto!important;
    .image {
      height: 50%!important;
    }
    .addCart {
      opacity: 1!important;
    }
  }
  #openWrapper {
    top: 30px;
  }
  .links {
    font-size: 80%!important;
  }
}



// Contact Section
#contactSection {
  transform-origin: 0% 0%;
}

#contactForm {
  border-radius: 10px;
  background-color: white;
  height: 450px;
  text-align: center;
  position: relative;
  margin: 5% auto;
  background-color: #2ecc71;
  input,
  textarea {
    background-color: white;
    font-size: 2rem;
    padding: 3px;
    border-radius: 5px;
    box-sizing: border-box;
    &:focus {
      border-left: 2px solid black;
      border-top: 2px solid black;
    }
  }
  .cSubmit {
    background-color: black;
    border-radius: 50%;
    outline: none;
    border: initial;
    color: white;
  }
}

.nonMsg {
  margin: auto;
  text-align: center;
  height: 100%;
  top: 10px;
  hr {
    border-top: 2px double black;
  }
  .cInfo {
    text-align: left;
    padding-left: 13px;
    margin-top: -5px;
    margin-bottom: initial;
    font-size: 1.8em;
  }
  * {
    font-size: 10px;
    margin-bottom: 10px;
  }
}

.cSubmit {
  width: 40px;
  height: 40px;
  text-align: center;
  position: absolute;
  line-height: 40px;
  outline: none;
  margin: 0 auto;
  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: translateY(1px);
  }
  left: calc(15% - 20px);
  bottom: 10%;
}

.cMessage {
  height: 380px;
  width: 80%;
  top: 10px;
  resize: none;
  position: absolute;
  right: 10px;
}

.socialLinks {
  text-align: center;
  font-size: 55px;
  a {
    color: white;
  }
  a:nth-child(1) i:hover{
    color: rgb(85, 172, 238);
  }
  a:nth-child(2) i:hover{
    color: rgb(150, 75, 0);
  }
  a:nth-child(3) i:hover{
    color: rgb(59, 89, 152);
  }
  a:nth-child(4) i:hover{
    color: rgb(211, 35, 34);
  }
}

@media screen and (max-width: 992px) {
  #contactForm {
    width: 90%;
    height: 350px;
  }
  .nonMsg {
    height: 30%;
    top: -4px;
    * {
      width: 80%;
    }
    .cInfo {
      display: none;
    }
    hr {
      display: none;
    }
  }
  .cMessage {
    left: 10%;
    height: 200px;
  }
  .cSubmit {
    right: 10px;
    left: initial;
    bottom: 10px;
  }
}